html {
    width: 300px;
    height: 500px;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    color: #ccc;
    width: 300px;
    height: 500px;
}

.container {
    /* border: 1px solid red; */
    width: 300px;
    height: 500px;
    background-color: #2e2525;
    font-size: 9pt;
    text-align: center;
}

.image {
    width: 300px;
    max-height: 462px;
    overflow: hidden;
}

hr {
    border-top: dotted 1px;
    width: 90%;
    border-style: none none dotted;
}

.footer {
    padding: 5px;
    padding-bottom: 10px;
    font-size: 8pt;
    line-height: 8px;
}